body {
    background-image: url("./../images/background/signup.jpg");
    background-size: cover;
}

.signup {
    height: auto;
    width: 32.4vw;

    background-color: #cfddfc;
    border-radius: 5px;

    transform: translate(35vw, 7vh);
    font-family: sans-serif;

    position: absolute;
    bottom: 15vh;
}

.signup__h1 {
    text-align: center;

    font-size: 5vh;
    font-weight: bold;
}

.error {
    height: 4vh;
    width: 24vw;

    text-align: center;
    padding-top: 1.5vh;

    margin-bottom: 2vh;
    margin-left: 4vw;

    border: 1px solid gray;
    border-radius: 15px;

    font-size: large;
    font-weight: bolder;

    background-color: rgb(224, 118, 118);
}

form {
    width: 22vw;

    margin-left: 2.5vw;
    text-align: center;
}

label {
    display: flex;
    margin-top: 2.6vh;

    font-size: 2.6vh;
    font-weight: bold;
}

input {
    width: 26vw;
    padding: 0.8vw;

    border: 1px solid gray;
    border-radius: 10px;
}

input[type="submit"] {
    width: 28vw;
    height: 7vh;

    color: whitesmoke;
    background-color: #DEC26B;

    margin-bottom: 3vh;
    margin-top: 3.2vh;
    text-align: center;

    font-size: 3vh;
    font-weight: bold;

    cursor: pointer;
}

input[type="range"] {
    color: #DEC26B;
    cursor: pointer;
}
